<div ng-class="{ 'calculator-menu': true, 'suppressed': navStyle.supressed }">
	<ul>
		<li class="cal-type"><a href="#/hypotenuse">
			<span ng-include src="'view/icons/icon-screen-size.html'"></span>
			Diagonal Screen Size
		</a></li>
		<li class="cal-type"><a href="#/ppi">
			<span ng-include src="'view/icons/icon-ppi.html'"></span>
			PPI
		</a></li>
		<li class="cal-type"><a href="#/device-width-to-css-width">
			<span ng-include src="'view/icons/icon-converter.html'"></span>
			Find CSS width from Device width
		</a></li>
	</ul>
</div>