<div ng-class="{ 'calculator-menu': true, 'suppressed': navStyle.supressed }">
	<ul>
		<li class="cal-type"><a href="#/hypotenuse">
			<span ng-include src="'view/icons/icon-screen-size.html'"></span>
			<span class="descriptive-text">Diagonal Screen Size</span>
		</a></li>
		<li class="cal-type"><a href="#/ppi">
			<span ng-include src="'view/icons/icon-ppi.html'"></span>
			<span class="descriptive-text">PPI</span>
		</a></li>
		<li class="cal-type"><a href="#/device-width-to-css-width">
			<span ng-include src="'view/icons/icon-converter.html'"></span>
			<span class="descriptive-text">CSS &#8594; Device width</span>
		</a></li>
	</ul>
</div>