<p class="intro" ng-class="{ 'expanded': introExpanded }" ng-click="toggleIntro()">
	<span>Device VS CSS 
		<span ng-show=" !introExpanded ">+</span>
		<span ng-show=" introExpanded ">&minus;</span>
	</span>
	Device dimensions are usually in marketing specs, but CSS dimensions is helpful when you need to manually set up your breakpoints.
</p>
<h2>Device px &#8594; CSS px</h2>
<div ng-class="{ 'form-error': true, 'has-error': widthCalculator.$invalid }" >
	<p ng-show=" widthCalculator.deviceWidth.$error.pattern ||
			 widthCalculator.deviceHeight.$error.pattern ||
			 widthCalculator.ppi.$error.pattern "> <strong>Device Width</strong>, <strong>Device Height</strong> and <strong>PPI</strong> all need to be numbers.</p>
</div>
<form name="widthCalculator" class="width-calculator">
	<fieldset>
		<label for="device-width">Device Width</label>
		<input id="device-width" name="deviceWidth" type="text" placeholder="Device Width" ng-model="w" ng-pattern="/^[0-9\.]+$/" />
		<label for="device-height">Device Height</label>
		<input id="device-height" name="deviceHeight" type="text" placeholder="Device Height" ng-model="h" ng-pattern="/^[0-9\.]+$/" />
		<label for="ppi">PPI</label>
		<input id="ppi" name="ppi" type="text" placeholder="PPI" ng-model="ppi" ng-pattern="/^[0-9\.]+$/" />
	</fieldset>
</form>
<div ng-class="{ 'results': true, 'has-result': results.cssWidth }" ng-bind=" convert( w, h, ppi ).cssWidth ? results.cssWidth + ' \&times; ' + results.cssHeight:'';  "></div>